.css-dev-only-do-not-override-16dneet.ant-modal .ant-modal-content{
  padding: 0;
  border-radius: 15px;
}


.ant-modal-body{
    margin: 0;
    padding: 0;
}
.modal .ant-modal-footer {
  padding: 0;
  margin: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 15px;
    height: 608px;
    width: 608px;
    align-items: flex-start;
    background-color: #303030;
}

.title{
  color: #FFFFFFD9;
  font-size: 24px;
}

